body {
    display: grid;
    background-color: lavender;
    font-family: monospace;
    grid-template-rows: 75%, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr,;
    grid-template-columns:1fr, 2fr;
    text-align: left;
    text-decoration-style: black;
}

header {
    background-color: skyblue;
    grid-column: 1/2;
    grid-row: 1;
}

#header-logo{
    grid-column: 1/2;
    grid-row: 1;
}
#header-title{
    grid-row: 1;
    grid-column: 2/2;
    text-align: top right;
    vertical-align: top;
    color:blueviolet;
}

#show-people{
    cursor: pointer;
}

#reset-reviews{
    cursor: pointer;
}