body {
    width: 75%;margin: auto;
    background-color: rgb(230, 230, 250);
    font-family: monospace;
}
header {
     background-color: skyblue;
}
header section {
    display: grid;grid-template-columns: 1fr 3fr;
}
header section .logo {
    width: 100%;margin: 0;
}
header section h1 {
    margin-right: 10px;text-align: right;font-size: 3rem;line-height: 5.5rem;
}
main {
    padding: 2rem 0;display: grid;grid-template-columns: 1fr 4fr 1fr;gap: 0px;
}
main section {
    padding: 2.4rem;margin: 0rem 0;
    grid-column-start: 2;text-align: center;border: 0px solid #a9d6e5;border-radius: 5px;
}
main section:nth-child(1) {
    background-color: #f1faee;
}
main section:nth-child(2) {
    background-color: #bde0fe;
}
main section:nth-child(3) {
    background-color: #bde0fe;
}
main section:nth-child(4) {
    background-color: #a8dadc;
}
main section:nth-child(5) {
    background-color: #a8dadc;
}
main section h2 {
    padding: 0rem;margin: 1rem 0;font-size: 1.8rem;font-weight: 800;border-radius: 5px;color: #1d3557;
}
main section h2 i {display: block !important;margin: 1rem auto;font-size: 3rem;}
main section ul, main section ol {
    margin: auto;display: inline-grid; text-align: justify;
}
main section ul li, main section ol li {
    margin: 0.2rem 0;font-size: 1.4rem;font-weight: 600;
}
main section label {
    margin: 0.2rem 0;font-size: 1.4rem;font-weight: 400;color: #006d77;
}
main section button {
    margin: 1rem auto;display: block;
}
input, select {
    padding: 0.6rem;border-radius: 5px;font-size: 1.2rem;font-weight: 600;border-radius: 5px;border: none !important;color: #3C3C3C !important;
}
button, input[type='submit'] {
    padding: 0.6rem 1.6rem;border-radius: 5px;font-size: 1.2rem;font-weight: 800; background-color: #457b9d;color: #e9ecef !important;
    border: none !important;border-radius: 5px;
}
input[type='submit'] {
    background-color: #2a9d8f; color: #FFF;
}
button:hover {
    background-color: #1d3557;
}
input[type='submit']:hover {
    background-color: #006d77;
}
#display-info {}
#display-info h3 {
    padding: 1px 2rem;margin: auto; display: table;font-size: 2.2rem;line-height: 2.8rem;font-weight: 600;background-color: #a2d2ff;color: #333;
}
#display-info p {
    font-size: 1.4rem;line-height: 2.0rem;font-weight: 500;color: #666;
}
#display-info p:nth-of-type(2) {
    font-weight: 400;text-align: justify;
}
#review-list {}
#review-list li {
    font-size: 1.4rem;line-height: 2.0rem;font-weight: 400;color: #006d77;
}
#review-list li b {}
.error {
    padding: 2rem 4rem;margin: 2rem auto;display: table;font-size: 1rem;font-weight: 600;background: var(--error);color: #fefefe;border-radius: 2px;
}