body {  
    display: grid;
   padding-inline-start: 20%;
    background-color: lavender;
    font-family: monospace;
    max-width: 1200px;
    margin: auto;
}

header{
    display: inline-flex;
    
    width: 75%;
    height: 120px;
    background-color: skyblue;
text-align: right;
}
 img { display: inline-flex;
    height: 120px;

 }

button {
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}

input {
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}